@import '~bootstrap/dist/css/bootstrap.css';

.user form {
  display: flex;
  justify-content: flex-start;  
  background-color: #f8f9fa;
  border: 10px solid #dee2e6;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user {
  display: flex;
  width: 150%;
  margin: 0 auto;
  padding: 20px;
}

.resume-list {
  width: 30%;
  margin-right: 20px;
}

.main-panel {
  width: 100%;
}
.resume-list h2 {
  margin-bottom: 10px;
}

.resume-list li {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.resume-list li.selected {
  background-color: #377486;
  color: rgb(235, 232, 232);
}

.user h1 {
  margin-bottom: 20px;
}

.user label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.user select,
.user input,
.user textarea {
  width: 100%;
}

.user form {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user form label:not(:last-child) {
  margin-bottom: 15px;
}

.user-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.user-buttons button {
  background-color: #377486;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 24px;
  margin: 5px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.user-buttons button:hover {
  background-color: #2e496b;
}

.no-border {
  border: none;
  background-color: transparent;
  outline: none;
  resize: none;
}

.logout-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: #377486;
  color: rgb(248, 248, 248);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.logout-button:hover {
  background-color: #2e496b;
}